body {
  margin: 0;
  }

/****************   Nav Section **********************/
nav {
	background: #000000;
  color:white;
  border-radius: 8px;
  border-style: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/***********************  Footer Section   **************************/
footer {
	background: rgb(79, 185, 255);
  color: black;
  border-color: black;
  border-radius: 8px;
  border-style: solid;
  display: flex;
  justify-content: center;
}

/*********** Splash Page ************************/
header {
  background-color: rgb(255, 0, 0);
}

header h1 {
  display: flex;
  font-family: 'Bitcount Single', system-ui;
  color:rgb(19, 18, 18)
}

header img {
  border-radius: 50%;
  border: #000000 solid 2px;

}

.address {
  border: #000000 solid 2px;
  border-radius: 5px;
}

.tagline {
  font-style: italic;
}

/************* Sections ********************/
hr {

}

section h3 {
  font-family: 'Oswald', system-ui;
  color: rgb(19, 18, 18)
}

section dl {
  display: grid;
  grid-template-columns: auto auto;
}

section ul {
  list-style: disc;
}

section a {
  color: black;
  text-decoration: none;
}

section a:hover {
  padding: 4px;
  border: #000000 solid 2px;
}

/**************   Projects   *****************/
.three-col {
	display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5%;
  margin: 5%;
}

.card img {
  width: 90%;
  margin: 5%;
  border-radius: 2%;
}

.card {
  border: black solid 2px;
  background-color: rgb(255, 0, 0);
  border-radius: 10px;
  box-shadow: 10px 10px 10px 0px grey;
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
  nav {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 1rem;
    gap: 0.5rem;
  }

    .three-col {
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 1.5rem;
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}


input {
  width: 100%;
}

textarea {
  width: 100%;
}
